@import './variables';

@media screen and (min-width: 756px) {
	.container {
		.header {
			height: 100vh;
			padding: 3rem 2rem;
			background-image: url('./images/desktop/image-header.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;

			.down-arrow {
				right: 47%;
				top: 43%;
				position: absolute;
			}
		}
	}
}
