@import './variables';

@media screen and (min-width: 756px) {
	.container {
		.header {
			height: 100vh;
			padding: 3rem 2rem;
			background-image: url('./images/desktop/image-header.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;

			.down-arrow {
				right: 47%;
				top: 43%;
				position: absolute;
			}
		}

		.main {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;

			.egg-mob,
			.cup-mob {
				display: none;
			}

			.egg-container {
				grid-column: 2/3;
				grid-row: 1/2;

				.egg-dsk {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			.cup-container {
				grid-column: 1/2;
				grid-row: 2/3;

				.cup-dsk {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			div {
				height: 500px;
			}

			.transform {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				text-align: left;
				padding: 10rem;
			}

			.audience {
				text-align: left;
				padding: 10rem;
			}

			.graphic-design {
				background-image: url('./images/desktop/image-graphic-design.jpg');

				background-size: cover;
			}

			.photography {
				background-image: url('./images/desktop/image-photography.jpg');
				background-size: cover;
			}
		}
	}
}
